<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>mini-python-2 | lab-5 | tasks</title>

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/vendor/animate.min.css" type="text/css">

    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="whatsup">
        <h1>TODOs</h1>
    </header>
    <section id="all-dem-tasks">
        <section id="new">
            <form action="/tasks/new" method="post">
                <input class="task" id="task-new" name="name" autofocus autocomplete="off" placeholder="Co trzeba zrobić?"></input>
            </form>
        </section>
        <section id="index">
            <ul id="tasks">
                <li class="task task-isdone" data-task-id="-1">
                    <label class="task-name" for="task-invalid-1-status">
                        <svg class="task-status-dummy" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="-16 -16 96 96">
                            <circle class="outer" cx="32" cy="32" r="20" fill="none" stroke="#eee8d5" stroke-width="2"/>
                            <circle class="inner" cx="32" cy="32" r="12" fill="#eee8d5"/>
                        </svg>
                        <span>Skończone zadanie o ID #-1</span>
                    </label>
                    <input type="checkbox" class="task-status" id="task-invalid-1-status" name="status" autocomplete="off" checked></input>
                    <button class="task-delete"><span>&times;</span></button>
                </li>
                <li class="task" data-task-id="-2">
                    <label class="task-name" for="task-invalid-2-status">
                        <svg class="task-status-dummy" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="-16 -16 96 96">
                            <circle class="outer" cx="32" cy="32" r="20" fill="none" stroke="#eee8d5" stroke-width="2"/>
                            <circle class="inner" cx="32" cy="32" r="12" fill="none"/>
                        </svg>
                        <span>Nieskończone zadanie o ID #-2</span>
                    </label>
                    <input type="checkbox" class="task-status" id="task-invalid-2-status" name="status" autocomplete="off"></input>
                    <button class="task-delete"><span>&times;</span></button>
                </li>
            </ul>
        </section>
    </section>
    <footer id="bye">
        <p>Tomasz Cudziło | CSS i design zapożyczone w częściach z <a href="http://todomvc.com/">TodoMVC</a> oraz z <a href="http://ethanschoonover.com/solarized">Solarized</a></p>
    </footer>

    <script type="text/x-lodash-tmpl" id="task-tmpl">
        <li id="task-<%= task.id %>" class="task <%= task.isdone ? 'task-isdone' : '' %>" data-task-id="<%= task.id %>">
            <label class="task-name" for="task-<%= task.id %>-status">
                <svg class="task-status-dummy" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="-16 -16 96 96">
                    <circle class="outer" cx="32" cy="32" r="20" fill="none" stroke="#eee8d5" stroke-width="2"/>
                    <circle class="inner" cx="32" cy="32" r="12" fill="#eee8d5"/>
                </svg>
                <span><%= task.name %></span>
            </label>
            <input type="checkbox" class="task-status" id="task-<%= task.id %>-status" name="status" autocomplete="off" <%= task.isdone ? 'checked' : '' %>></input>
            <button class="task-delete"><span>&times;</span></button>
        </li>
    </script>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/lodash.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/bootstrap-notify.min.js"></script>

    <script src="js/tasks-notify.js"></script>
    <script src="js/main.js"></script>
    <script src="js/tasks-index.js"></script>
    <script src="js/tasks-new.js"></script>
    <script src="js/tasks-status.js"></script>
    <script src="js/tasks-delete.js"></script>
</body>
</html>
