<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>mini-python-2 | lab-4 | gallery</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css" rel="stylesheet" type="text/css" integrity="sha384-EsoR0pjPTZTUy5b8kJf6aTfA7quYluD5mNQ/Lz4hsxU2kXuuc6PlXVfBJCFdTXqD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300|Open+Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <style>
        html, body {
            font-family: "Open Sans", sans-serif;
        }
        .navbar {
            background-image: url("http://i.imgur.com/sabjQAv.jpg");
            /*background-image: url("http://i.imgur.com/mY44Y4z.jpg");*/
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 96%;
            padding-top: 18rem;
            margin-bottom: 6rem;
        }
        .nav {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .nav-item {
            margin-right: 1rem;
        }
        .nav-item:last-child {
            margin-right: 0;
        }
        .nav-link {
            color: #eee;
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            text-transform: uppercase;
        }
        .nav-link:hover,
        .nav-link:active,
        .nav-link.active {
            color: #fff;
            text-decoration: underline;
        }
        .grid-item, .grid-sizer {
            margin-bottom: 1.875rem;
        }
        .grid-item img {
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul id="nav" class="nav nav-inline">
                        {% for rank in ranks %}
                        <li class="nav-item">
                            <a class="nav-link" href="#{{ rank.id }}">{{ rank.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for rank in ranks %}
        <div class="row rank" id="{{ rank.id }}">
            <div class="grid">
                <div class="grid-sizer col-lg-3 col-md-4 col-sm-6"></div>
                {% for photo in ranked_photos[rank] %}
                <div class="grid-item col-lg-3 col-md-4 col-sm-6">
                    <div class="grid-item-content">
                        <a href="{{ photo.filerelpath(site_root) }}" class="photo-link"
                                data-toggle="lightbox"
                                data-gallery="{{ rank.id }}"
                                data-parent="#{{ rank.id }}">
                            <img src="{{ photo.thumbnail.filerelpath(site_root) }}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <hr>
        <footer>
            <p>Tomasz Cudziło | Photos courtesy of <a href="https://unsplash.com/">Unsplash</a>.</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" integrity="sha384-mXQoED/lFIuocc//nss8aJOIrz7X7XruhR6bO+sGceiSyMELoVdZkN7F0oYwcFH+" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js" integrity="sha384-0xtm+55p1NYVW6d2u0J+z9cI4PshKf1H70v1H0wDykMCn53yYkfATSOBZhiZnBCo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js" integrity="sha384-2aVpK/uKiYlyFXHZ36wvxOPZyWeouEKvbSUlqCrkFhyT80n2aSYtT15Tgdn6g41M" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $(".grid").masonry({
                columnWidth: ".grid-sizer",
                itemSelector: ".grid-item",
                percentPosition: true,
            })

            $(".nav-link").click(function(e) {
                e.preventDefault()
                var selector = $(e.target).attr("href")
                $(".rank").hide()
                $(selector).show()
                $(".nav-link").removeClass("active")
                $(e.target).addClass("active")
            });

            $(".rank").hide()
            $("#{{ ranks[0].id }}").show()

            $(document).delegate("*[data-toggle='lightbox']", "click", function(e) {
                e.preventDefault()
                $(this).ekkoLightbox()
            })
        })
    </script>
</body>
</html>
