@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v13-latin_latin-ext-300.woff2') format('woff2'),
       url('../fonts/open-sans-v13-latin_latin-ext-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v13-latin_latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
       url('../fonts/open-sans-v13-latin_latin-ext-800.woff2') format('woff2'),
       url('../fonts/open-sans-v13-latin_latin-ext-800.woff') format('woff');
}

@font-face {
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand SC'), local('PatrickHandSC-Regular'),
       url('../fonts/patrick-hand-sc-v4-latin_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/patrick-hand-sc-v4-latin_latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand'), local('PatrickHand-Regular'),
       url('../fonts/patrick-hand-v10-latin_latin-ext-regular.woff2') format('woff2'),
       url('../fonts/patrick-hand-v10-latin_latin-ext-regular.woff') format('woff');
}
