html {
    background-color: #eee8d5;
}

body {
    background-color: #eee8d5;
    color: #586e75;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Ariel, sans-serif;
    font-weight: 300;
    font-size: 24px;
    min-width: 480px;
    max-width: 640px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #b58900;
    font-weight: 800;
}

a, a:active, a:hover, a:visited {
    color: #268bd2;
}

a:active, a:hover {
    text-decoration: underline;
}

.alert {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Ariel, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

#all-dem-tasks {
    background: #fdf6e3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

#whatsup {
    text-align: center;
}

#whatsup h1 {
    font-size: 6rem;
}

#new form {
    margin: 0;
    padding: 0;
}

#tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task {
    font-family: 'Patrick Hand', cursive;
    border-top: 1px solid #f0f0f0;
    position: relative;
}

#task-new {
    line-height: 2.67em;
    margin: 0;
    padding: 0 2.67em;
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
}

#task-new::-webkit-input-placeholder {
    font-style: italic;
}

#task-new::-moz-placeholder {
    font-style: italic;
}

#task-new:-ms-input-placeholder {
    font-style: italic;
}

#task-new::placeholder {
    font-style: italic;
}

.task-name, .task-status, .task-delete {
    display: block;
}

.task-name {
    line-height: 2.67em;
    margin: 0;
    padding: 0;
    padding-left: 2.67em;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.task.task-isdone .task-name {
    color: #eee8d5;
    text-decoration: line-through;
    transition: color 0.2s ease-out;
}

.task-status-dummy {
    position: absolute;
    top: 0;
    left: 0;
}

.task .task-status-dummy .outer {
    stroke: #eee8d5;
    transition: stroke 0.2s ease-in;
}

.task:hover .task-status-dummy .outer {
    stroke: #586e75;
    transition: stroke 0.1s ease-out;
}

.task.task-isdone .task-status-dummy .outer {
    stroke: #eee8d5;
    transition: stroke 0.2s ease-out;
}

.task .task-status-dummy .inner {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.task.task-isdone .task-status-dummy .inner {
    opacity: 1;
    transition: opacity 0.2s ease-in 0.2s;
}

.task-status, .task-delete {
    position: absolute;
    top: 0;
    height: 2.67em;
    width: 2.67em;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.task-status {
    left: 0;
    opacity: 0;
}

.task-delete {
    right: 0;
    display: block;
}

.task-delete span {
    color: #eee8d5;
    font-size: 2.67rem;
    transition: color 0.2s ease-out;
}

.task-delete:hover span {
    color: #dc322f;
    transition: color 0.2s ease-in;
}

#bye {
    color: #bbb;
    font-size: 0.5em;
    text-align: center;
}
